<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/style2.css}">
</th:block>


<head>
<style>

    .tt{margin-left: 450px;}
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>

<div layout:fragment="content">
    <div class="heroes">
    </div>
    <div class="container-fluid mt-3 tt">
        <div class="contain1">
        <div class="contain2">
        <div class="row">



            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">상품관리</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Content</th>
                        <th scope="col">Price</th>
                        <th scope="col">Area</th>
                        <th scope="col">HopeLocation</th>
                        <th scope="col">DealMethod</th>
                        <th scope="col">DealStatus</th>
                        <th scope="col">Writer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="products : ${productList}">
                        <td th:text="${products.getPno()}">1</td>
                        <td th:text="${products.getPname()}">pname</td>
                        <td th:text="${products.getContent()}">content</td>
                        <td th:text="${products.getPrice()}">price</td>
                        <td th:text="${products.getArea()}">area</td>
                        <td th:text="${products.getHopelocation()}">hopeLocation</td>
                        <td th:text="${products.getDealmethod()}">dealMethod</td>
                        <td th:text="${products.getDealstatus()}">daalStatus</td>
                        <td th:text="${products.getWriter()}">writer</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script layout:fragment="script" th:inline="javascript">

</script>