<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/reply.css}">
</th:block>


<div layout:fragment="content">
    <div class="heroes">
    </div>


    <div class="container">
        <div class="w-75 p-3" style="background-color: #eee; margin: 0 auto">
            <h3>상품 등록</h3>

            <table class="tline table" border="1" width="80%">
                <tr class="table-light">
                    <td colspan="5">
                        <div class="form-group">
                            <img th:src="${viewimg.getImgUrl()}" width="70px" height="70px">
                            <h3>[[${product.pname}]]</h3>
                            <h5>[[${product.price}]]</h5>
                            <p>제품정보</p>
                        </div>
                    </td>
                </tr>
                <tr class="table-light">
                    <td colspan="5">
                        <div class="form-group">
                            <h3>판매자정보</h3>
                            <p>[[${product.writer}]]</p>
                        </div>
                    </td>
                </tr>
                <tr class="table-light">
                    <td colspan="5">
                        <div class="input-group mb-3">
                            <input type="text" class="replyer" name="replyer" th:value="${seller.getNickname()}">
                        </div>
                        <div class="form-group">
                             <textarea class="form-control replyText"
                                         id="exampleTextarea" rows="3"
                                             name="replyText"></textarea>
                        </div>
                        <span th:if="${#authentication.principal.username!=seller.getUsername()}">
                        <button type="button" class="btn btn-primary registerBtn" onclick="addre()" style="width: 20%; margin: 20px 0;">
                            질문등록
                        </button>
                        </span>
                        <span th:if="${#authentication.principal.username==seller.getUsername()}">
                        <button type="button" class="btn btn-primary registerBtn" onclick="addre2()" style="width: 20%; margin: 20px 0;">
                            답변등록
                        </button>
                        </span>


                    </td>
                </tr>
            </table>

            <table class="table table-hover" border="1" width="80%">
                <tr class="table-light">
                    <td align="center">
                        <button type="reset" class="btn btn-info">새로고침</button>
                        <button type="button" class="btn btn-info">목록보기</button>
                    </td>
                </tr>
            </table>
            <div>
                <!--/* 댓글 목록 출력 */-->
                <ul class="list-group replyList chat">
                </ul>
            </div>
            <!--/* 댓글 페이지 목록 출력 */-->
            <div class="row mt-3">
                <div class="col">
                    <ul class="pagination replyPaging"></ul>
                </div>
            </div>
        </div>
    </div>


    <!--/*댓글 수정용 modal창*/-->
    <div class="modal modifyModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title replyHeader"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Modify Text</span>
                        <input type="text" class="form-control modifyText">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary modifyBtn">Modify</button>
                    <button type="button" class="btn btn-primary removeBtn">Remove</button>
                    <button type="button" class="btn btn-outline-dark closeModifyBtn" data-bs-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>


</div><!--content block끝-->

<!--/*axios CDN*/-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/reply.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script layout:fragment="script" th:inline="javascript">

    const pno = [[${product.pno}]]
    const writer = [[${product.writer}]]
    const replyText = document.querySelector(".replyText")
   const replyer = document.querySelector(".replyer")
    const rid = [[${rid}]]



    console.log("pno=" + pno);
    const replyList = document.querySelector('.replyList') //댓글 목록 DOM
    const replyPaging = document.querySelector('.replyPaging') //페이지 목록 DOM

    //댓글 목록 출력을 위한 함수 정의
    function printList(dtoList){
        let str = '';

        if(dtoList && dtoList.length > 0){
            for (const dto of dtoList) {

                if(dto.replyer == writer){
                str += `<li class="list-group-item d-flex self replyItem">
                      <span style="font-family: 'Apple Color Emoji'; font-weight: bold; margin-right: 10px;">${dto.replyer} : </span>
                      <span  style="font-family: 'Apple Color Emoji'" data-rno="${dto.rno}" : >${dto.replyText}</span>
                      </li>`
                } else if(dto.replyer !== writer){
                    str += `<li class="list-group-item d-flex other replyItem">
                      <span style="font-family: 'Apple Color Emoji'; font-weight: bold; margin-right: 10px;">${dto.replyer} : </span>
                      <span style="font-family: 'Apple Color Emoji'" data-rno="${dto.rno}">${dto.replyText}</span>
                      </li>`
                }
            }
        } console.log(str)
        replyList.innerHTML = str
    }

    //댓글의 페이지네이션 출력을 위한 함수 정의
    function printPages(data){
        //pagination
        let pageStr = '';

        if(data.prev) {
            pageStr +=`<li class="page-item"><a class="page-link" data-page="${data.start-1}">PREV</a></li>`
        }

        for(let i = data.start; i <= data.end; i++){
            pageStr +=`<li class="page-item ${i == data.page?"active":""} "><a class="page-link" data-page="${i}">${i}</a></li>`
        }

        if(data.next) {
            pageStr +=`<li class="page-item"><a class="page-link" data-page="${data.end +1}">NEXT</a></li>`
        }
        replyPaging.innerHTML = pageStr
    }


    //페이징 처리가 된, axios로 댓글 전체 가져오기 -함수 정의
    function printReplies(page,size,goLast){
        const rid = "[[${rid}]]"; // 현재 rid 값
        getList({pno, page,size, goLast, rid}).then(
            data => {
                printList(data.dtoList) // 목록 처리 함수 실행
                printPages(data) //페이지 처리 함수 실행
            }
        ).catch(e => {
            console.error(e)
        })
    }

    //댓글전체 가져오기 함수 실행
    printReplies(0,10, true)






    function addre() {
        console.log("안녕")
        const replyObj = {
            pno: pno,
            replyText: replyText.value,
            replyer: replyer.value
        } //key이름을 replyDTO의 필드명과 일치시켜야 함

        //댓글 입력을 위한 axios 함수 addReply, addReply의 리턴값 = result
        addReply(replyObj).then(result => {
            alert(result.rno)
            replyText.value = '' //값 초기화
            printReplies(0, 10, true) //댓글 목록 갱신
        }).catch(e => {
            alert("Exception.....")
        }, false)

    }

    function addre2() {
        console.log("안녕")
        const replyObj = {
            pno: pno,
            replyText: replyText.value,
            replyer: replyer.value,
            rid : rid
        } //key이름을 replyDTO의 필드명과 일치시켜야 함

        //댓글 입력을 위한 axios 함수 addReply, addReply의 리턴값 = result
        addReply2(replyObj).then(result => {
            alert(result.rno)
            replyText.value = '' //값 초기화
            printReplies(0, 10, true) //댓글 목록 갱신
        }).catch(e => {
            alert("Exception.....")
        }, false)

    }

    async function addReply(replyObj) {
        const response = await axios.post(`/replies/`, replyObj) //리턴값 : resultMap.put("rno", rno)
        return response.data
    }

    async function addReply2(replyObj) {
        const response = await axios.post(`/replies/answer`, replyObj) //리턴값 : resultMap.put("rno", rno)
        return response.data
    }

    //페이지네이션 클릭시 이동
    let page = 1
    let size = 10

    replyPaging.addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if (!target || target.tagName != 'A') {
            return
        }

        const pageNum = target.getAttribute("data-page")
        page = pageNum
        printReplies(page, size)

    }, false)


    //modifyModal-댓글 수정을 위한 모달창 설정
    const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal"))

    const replyHeader = document.querySelector(".replyHeader")
    const modifyText = document.querySelector(".modifyText")
    const modifyBtn = document.querySelector(".modifyBtn")
    const removeBtn = document.querySelector(".removeBtn")
    const closeModifyBtn = document.querySelector(".closeModifyBtn")


    replyList.addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()
        console.log("수정용 modal")

        const target = e.target

        if (!target || target.tagName != 'SPAN') {
            return
        }

        const rno = target.getAttribute("data-rno")

        if (!rno) {
            return
        }

        //댓글의 내용을 모달창에 채워서 보여줌
        getReply(rno).then(reply => {
            console.log(reply)
            replyHeader.innerHTML = reply.rno
            modifyText.value = reply.replyText
            modifyModal.show()

        }).catch(e => alert('error'))

    }, false)

    //댓글 수정 버튼 누르면 -수정처리
    modifyBtn.addEventListener("click", function (e) {

        const replyObj = {
            pno: pno,
            rno: replyHeader.innerHTML,
            replyText: modifyText.value
        }

        modifyReply(replyObj).then(result => {
            alert(result.rno + ' 댓글이 수정되었습니다.')
            replyText.value = ''
            modifyModal.hide()
            printReplies(page, size)

        }).catch(e => {
            console.log(e)
        })
    }, false)

    //댓글 삭제
    removeBtn.addEventListener("click", function (e) {

        removeReply(replyHeader.innerHTML).then(result => {

            alert(result.rno + ' 댓글이 삭제되었습니다.')
            replyText.value = ''
            modifyModal.hide()

            page = 1 // 이 부분이 없다면 원래 페이지로

            printReplies(page, size)

        }).catch(e => {
            console.log(e)
        })
    }, false)


    //paging 사용
    async function getList({pno, page, size, goLast, rid}){

        const result = await axios.get(`/replies/answer/list/${pno}`, {params: {page, size, rid}})

        if(goLast){
            const total = result.data.total
            const lastPage = parseInt(Math.ceil(total/size))
            return getList({pno:pno, page:lastPage, size:size, rid:rid})
        }
        return result.data
    }

    async function getReply(rno) {
        const response = await axios.get(`/replies/${rno}`)
        return response.data
    }

    async function modifyReply(replyObj) {
        const response = await axios.put(`/replies/${replyObj.rno}`, replyObj)
        return response.data
    }

    async function removeReply(rno) {
        const response = await axios.delete(`/replies/${rno}`)
        return response.data
    }
</script>
