<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">



<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/seller.css}">
</th:block>
<div layout:fragment="content">
    <div class="heroes">
    </div>


    <div class="container">
        <div class="w-75 p-3" style="background-color: #eee; margin: 0 auto">
            <h3>상품 상세보기</h3>

            <form method="post" action="/product/update" enctype="multipart/form-data">
                <input type="hidden" id="cartitemId" th:value="${cartitemId}">
                <input type="hidden" id="pno" name="pno" th:value="${product.pno}">
            <table class="tline table" border="1" width="80%">
                <tr class="table-light">
                    <td colspan="5">
                       <input type="file" name="files" multiple>
                    </td>
                        </tr>
                    <tr class="table-light">
                        <td colspan="5">
                            <div class="form-group">
                                <fieldset>
                                    <label class="form-label mt-4" for="readOnlyInput">작성자</label>

                                    <input class="form-control" id="readOnlyInput" type="text"
                                           name="writer" readonly=""
                                           th:value="${product.writer}">

                                    <a th:href="|@{/user/sellerinfo(searchQuery=${product.writer})}|" class="text-dark">
<!--                                    <a th:href="'/user/sellerinfo/' +${product.writer}" class="text-dark">-->
                                    <img src="/images/icon/free-icon-plus-148764.png" width="30px" height="30px">
                                        판매정보 더보기
                                    </a>
                                </fieldset>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td colspan="5">
                            <div class="form-group">
                                <label class="col-form-label mt-4" for="inputDefault1">상품명</label>
                                <input type="text" class="form-control" id="inputDefault1" name="pname"  th:value="${product.pname}" >
                            </div>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td colspan="5">
                            <div class="form-group">
                                <label class="col-form-label mt-4" for="inputDefault2">가격</label>
                                <input type="text" class="form-control" id="inputDefault2" name="price"  th:value="${product.price}">
                            </div>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td colspan="2">
                            <div class="form-group">
                                <label class="col-form-label mt-4" for="inputDefault3">지역</label>
                                <input type="text" class="form-control" id="inputDefault3" name="area" th:value="${product.area}">
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="form-group">
                                <label class="col-form-label mt-4" for="inputDefault4">희망장소</label>
                                <input type="text" class="form-control" id="inputDefault4" name="hopelocation" th:value="${product.hopelocation}">
                            </div>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td colspan="5">
                            <div class="form-group">
                                <label class="col-form-label mt-4">거래방식</label>
                                <input type="radio"  name="dealmethod" value="유상" checked>유상
                                <input type="radio"  name="dealmethod" value="나눔">나눔
                            </div>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td colspan="5">
                            <div class="form-group">
                                <label for="exampleTextarea" class="form-label mt-4">
                                    제품 상세 설명</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3"
                                          name="content">[[${product.content}]]</textarea>
                            </div>
                        </td>
                    </tr>
                <tr class="table-light">
                                     <td colspan="2" class="justify-content-center">
                        <button type="button" class="btn btn-info">문의하기</button>
                        <button type="button" class="btn btn-success">목록보기</button>
                    </td>
                 </table>

            <table class="table table-hover" border="1" width="80%">
                <tr class="table-light">
                    <td align="right">
                        <button type="submit" class="btn btn-dark">저장</button>
                    </td>
                </tr>
            </table>
            </form>
            </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>



