<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/seller.css}">
</th:block>
<div layout:fragment="content">
    <div class="heroes">
    </div>


    <div class="container">
        <div class="w-75 p-3" style="background-color: #eee; margin: 0 auto">
            <h3>상품 상세보기</h3>
            <input type="hidden" id="itemId" th:value="${product.pno}">
            <table class="tline table" border="1" width="80%">
                <tr class="table-light">
                    <td colspan="5">
                        <div class="form-group">
                            <div class="contain4" style="width: 60%; height: 60%; margin: 0 auto">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="0" class="active" aria-current="true"
                                                aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="3" aria-label="Slide 4"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="4" aria-label="Slide 5"></button>
                                    </div>
                                    <div class="carousel-inner">

                                        <div th:each="productImg,iterStat :  ${product.productImgDtoList}" class="carousel-item"
                                             th:classappend="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                            <img th:if="${not #strings.isEmpty(productImg.imgUrl)}" th:src="${productImg.imgUrl}"
                                                 class="d-block w-100" alt="..."
                                            style="max-widthwidth: 400px; max-height: 400px; overflow: hidden">
                                        </div>

                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                    <tr class="table-light">
                        <td colspan="5">
                            <div class="form-group">
                                <fieldset>
                                    <label class="form-label mt-4" for="readOnlyInput">작성자</label>

                                    <input class="form-control" id="readOnlyInput" type="text"
                                           name="username" readonly=""
                                           th:value="${product.writer}">

                                    <a th:href="|@{/user/sellerinfo(searchQuery=${product.writer})}|" class="text-dark">
<!--                                    <a th:href="'/user/sellerinfo/' +${product.writer}" class="text-dark">-->
                                    <img src="/images/icon/free-icon-plus-148764.png" width="30px" height="30px">
                                        판매정보 더보기
                                    </a>
                                </fieldset>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td colspan="5">
                            <div class="form-group">
                                <label class="col-form-label mt-4" for="inputDefault1">상품명</label>
                                <input type="text" class="form-control" id="inputDefault1" name="pname"  th:value="${product.pname}" >
                            </div>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td colspan="5">
                            <div class="form-group">
                                <label class="col-form-label mt-4" for="inputDefault2">가격</label>
                                <input type="text" class="form-control" id="inputDefault2" name="price"  th:value="${product.price}">
                            </div>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td colspan="2">
                            <div class="form-group">
                                <label class="col-form-label mt-4" for="inputDefault3">지역</label>
                                <input type="text" class="form-control" id="inputDefault3" name="area" th:value="${product.area}">
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="form-group">
                                <label class="col-form-label mt-4" for="inputDefault4">희망장소</label>
                                <input type="text" class="form-control" id="inputDefault4" name="hope_location" th:value="${product.hope_location}">
                            </div>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td colspan="5">
                            <div class="form-group">
                                <label class="col-form-label mt-4">거래방식</label>
                                <input type="radio"  name="deal_method" value="유상" checked>유상
                                <input type="radio"  name="deal_method" value="나눔">나눔
                            </div>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td colspan="5">
                            <div class="form-group">
                                <label for="exampleTextarea" class="form-label mt-4">
                                    제품 상세 설명</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3"
                                          name="descrition">[[${product.content}]]</textarea>
                            </div>
                        </td>
                    </tr>
                <tr class="table-light">
                    <td colspan="2" class="justify-content-center" style="text-align: right">
                        <div class="form-group">
                            <img id="myImage"  src="/images/icon/like_off.png" onclick="changeImage()">
                        </div>
                        </td>
                    <td colspan="2" class="justify-content-center">
                        <button type="button" class="btn btn-info">문의하기</button>
                        <button type="button" class="btn btn-success">목록보기</button>
                    </td>
                 </table>

                <table class="table table-hover" border="1" width="80%">
                    <tr class="table-light">
                        <td align="right">
                            <button type="submit" class="btn btn-dark">수정</button>
                            <button type="submit" class="btn btn-danger">삭제</button>
                        </td>
                    </tr>
                </table>

            </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script layout:fragment="script" th:inline="javascript">
    function changeImage() {
        var image = document.getElementById('myImage');
        if (image.src.match("/images/icon/like_off.png")) {
            image.src = "/images/icon/like_on.png";
        } else {
            image.src = "/images/icon/like_off.png";
        }
    }

</script>




