<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/seller.css}">
</th:block>
<div layout:fragment="content">
    <div class="heroes">
    </div>


    <div class="container">
        <h3> 나의 구매완료 목록</h3>
        <div class="contain1">
            <div class="contain2">
                <div class="blog-comments">
                    <div id="comment-1" class="comment">
                        <div class="row justify-content-between align-items-center">
                            <div class="comment-img justify-content-center">
                                <img th:src="|/images/display/${user.getUrl()}|" class="profileimage">
                                <h3 class="d-inline-block">[[${user.nickname}]]님의 구매물건🎈</h3>
                            </div>
                        </div>
                          </div>

                        <div class="contain4">

                            <div class="row">
                                <th:block th:each="dealdone, status: ${dealdonelist}">
                                    <div class="col-md-4 margin" style="margin-bottom: 30px">
                                        <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">[[${dealdone.pname}]]</h4>
                                                    <p>판매자 : [[${dealdone.seller}]]님</p>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>





