<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="en">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/logincss.css}" >
</th:block>
<div layout:fragment="content">
    <div class="heroes">
    </div>

    <div class="contain1">
        <div class="contain2">
            <form action="/loginProcess" method="post">
                <div class="input-group">
                    <label for="username">이메일(ID)</label>
                    <input type="text" id="username" name="username" placeholder="id">
                </div>
                <div class="input-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" placeholder="password">
                </div>
                <div class="input-group">
                    <input type="submit" value="로그인">
                </div>
                <p class="switch-link" >아직 회원이 아니신가요? <a href="/user/join" style="color: crimson; text-decoration-line: underline" >회원가입</a></p>
            </form>
        </div>
    </div>
</div>


