<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/seller.css}">
</th:block>
<div layout:fragment="content">
    <div class="heroes">
    </div>


    <div class="container">
        <div class="contain11">
            <div class="contain22">
                <h3 th:text="|${user.getNickname()}의 프로필|" class="username"></h3>
                <form action="/user/update" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col mb-3">
                            <div id="comment-1" class="comment">
                                <div class="d-flex">
                                    <div class="comment-img" id="imagePreview">
                                        <img th:src="|/images/display/${user.getUrl()}|" class="profileimage">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col mb-3 ">
                            <div class="lala">
                                <input type="file" id="uploadInput" name="file" accept="image/*">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            아이디:
                        </div>
                        <div class="col mb-3">
                            <input
                                    type="email"
                                    class="form-control"
                                    th:value="${user.getUsername()}"
                                    name="username"
                                    readonly
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            비밀번호:
                        </div>
                        <div class="col mb-3">

                            <input
                                    type="password"
                                    class="form-control"
                                    name="password"
                                    placeholder="4자에서~8자리해주세요"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            이름:
                        </div>
                        <div class="col mb-3">

                            <input
                                    type="text"
                                    class="form-control"
                                    th:value="${user.getName()}"
                                    name="name"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            닉네임:
                        </div>
                        <div class="col mb-3">
                            <input
                                    type="text"
                                    class="form-control"
                                    th:value="${user.getNickname()}"
                                    name="nickname"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            휴대폰 번호:
                        </div>
                        <div class="col mb-3">
                            <input
                                    type="text"
                                    class="form-control"
                                    th:value="${user.getPhone()}"
                                    name="phone"
                            />
                        </div>
                    </div>
                    <div class="col">
                        <input
                                type="submit"
                                value="정보수정"
                                class="btn btn-primary"
                        />
                        <button type="button" class="btn btn-dark" onclick="location.href='/user/withdrawal'">회원탈퇴</button>
                    </div>
                </form>


            </div>
        </div>
    </div>

</div>


<script layout:fragment="script" th:inline="javascript">
        document.getElementById('uploadInput').addEventListener('change', function(event) {
        const file = event.target.files[0]; // 업로드된 파일 가져오기

        if (file) {
            const reader = new FileReader(); // 파일을 읽기 위한 FileReader 객체 생성

            // 파일이 로드됐을 때 실행되는 이벤트
            reader.onload = function(event) {
                const imgElement = document.createElement('img');
                imgElement.src = event.target.result;
                imgElement.style.maxWidth = '150px';
                imgElement.style.maxHeight = '150px';
                imgElement.style.borderRadius = '100%';


                const imagePreview = document.getElementById('imagePreview');
                imagePreview.innerHTML = '';
                imagePreview.appendChild(imgElement);
            };


            reader.readAsDataURL(file);
        }
    });

</script>






