<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

  <!--배너 이미지-->
  <div class="hero">
    <div class="hero-slide">
      <div
              class="img overlay"
              style="background-image: url('/images/hero_bg_3.jpg')"
      ></div>
      <div
              class="img overlay"
              style="background-image: url('/images/hero_bg_2.jpg')"
      ></div>
      <div
              class="img overlay"
              style="background-image: url('/images/hero_bg_1.jpg')"
      ></div>
    </div>

    <div class="container">
      <!--검색창-->
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-9 text-center">
          <h1 class="heading" data-aos="fade-up">
            국내 최대 중고물품 거래사이트
          </h1>
          <form
                  th:action="@{/}" method="get"
                  class="narrow-w form-search d-flex align-items-stretch mb-3"
                  data-aos="fade-up"
                  data-aos-delay="200"
          >
            <input  name="searchQuery"
                    type="search"
                    class="form-control px-4"
                    placeholder="찾고 싶은 물건을 적어보세요"
            />
            <button type="submit" class="btn btn-primary">search</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container"> <!--상품 리스트--->
      <div class="row mb-5 align-items-center">
      </div>
      <div class="row">
        <div class="col-12">
          <div class="property-slider-wrap">
            <div class="property-slider">
              <!--상품1-->
              <div class="property-item">
                <a href="property-single.html" class="img">
                  <img src="/images/img_1.jpg" alt="Image" class="img-fluid" />
                </a>

                <div class="property-content">
                  <div class="price mb-2"><span>가격</span></div>
                  <div>
                      <span class="d-block mb-2 text-black-50"
                      >지역</span
                      >
                    <span class="city d-block mb-3">상품명</span>

                    <a
                            href="property-single.html"
                            class="btn btn-primary py-2 px-3"
                    >상세페이지</a
                    >
                  </div>
                </div>
              </div>
              <!-- .item -->

              <div class="property-item">  <!--상품2-->
                <a href="property-single.html" class="img">
                  <img src="/images/img_2.jpg" alt="Image" class="img-fluid" />
                </a>

                <div class="property-content">

                  <div class="property-content">
                    <div class="price mb-2"><span>가격</span></div>
                    <div>
                      <span class="d-block mb-2 text-black-50"
                      >지역</span
                      >
                      <span class="city d-block mb-3">상품명</span>

                      <a
                              href="property-single.html"
                              class="btn btn-primary py-2 px-3"
                      >상세페이지</a
                      >
                    </div>
                  </div>

                </div>
              </div>
              <!-- .item -->

              <div class="property-item">  <!--상품3-->
                <a href="property-single.html" class="img">
                  <img src="/images/img_3.jpg" alt="Image" class="img-fluid" />
                </a>

                <div class="property-content">
                  <div class="price mb-2"><span>$1,291,000</span></div>
                  <div>
                      <span class="d-block mb-2 text-black-50"
                      >5232 California Fake, Ave. 21BC</span
                      >
                    <span class="city d-block mb-3">California, USA</span>

                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                      <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                    </div>

                    <a
                            href="property-single.html"
                            class="btn btn-primary py-2 px-3"
                    >See details</a
                    >
                  </div>
                </div>
              </div>
              <!-- .item -->

              <div class="property-item">
                <a href="property-single.html" class="img">
                  <img src="/images/img_4.jpg" alt="Image" class="img-fluid" />
                </a>

                <div class="property-content">
                  <div class="price mb-2"><span>$1,291,000</span></div>
                  <div>
                      <span class="d-block mb-2 text-black-50"
                      >5232 California Fake, Ave. 21BC</span
                      >
                    <span class="city d-block mb-3">California, USA</span>

                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                      <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                    </div>

                    <a
                            href="property-single.html"
                            class="btn btn-primary py-2 px-3"
                    >See details</a
                    >
                  </div>
                </div>
              </div>
              <!-- .item -->

              <div class="property-item">
                <a href="property-single.html" class="img">
                  <img src="/images/img_5.jpg" alt="Image" class="img-fluid" />
                </a>

                <div class="property-content">
                  <div class="price mb-2"><span>$1,291,000</span></div>
                  <div>
                      <span class="d-block mb-2 text-black-50"
                      >5232 California Fake, Ave. 21BC</span
                      >
                    <span class="city d-block mb-3">California, USA</span>

                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                      <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                    </div>

                    <a
                            href="property-single.html"
                            class="btn btn-primary py-2 px-3"
                    >See details</a
                    >
                  </div>
                </div>
              </div>
              <!-- .item -->

              <div class="property-item">
                <a href="property-single.html" class="img">
                  <img src="/images/img_6.jpg" alt="Image" class="img-fluid" />
                </a>

                <div class="property-content">
                  <div class="price mb-2"><span>$1,291,000</span></div>
                  <div>
                      <span class="d-block mb-2 text-black-50"
                      >5232 California Fake, Ave. 21BC</span
                      >
                    <span class="city d-block mb-3">California, USA</span>

                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                      <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                    </div>

                    <a
                            href="property-single.html"
                            class="btn btn-primary py-2 px-3"
                    >See details</a
                    >
                  </div>
                </div>
              </div>
              <!-- .item -->

              <div class="property-item">
                <a href="property-single.html" class="img">
                  <img src="/images/img_7.jpg" alt="Image" class="img-fluid" />
                </a>

                <div class="property-content">
                  <div class="price mb-2"><span>$1,291,000</span></div>
                  <div>
                      <span class="d-block mb-2 text-black-50"
                      >5232 California Fake, Ave. 21BC</span
                      >
                    <span class="city d-block mb-3">California, USA</span>

                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                      <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                    </div>

                    <a
                            href="property-single.html"
                            class="btn btn-primary py-2 px-3"
                    >See details</a
                    >
                  </div>
                </div>
              </div>
              <!-- .item -->

              <div class="property-item">
                <a href="property-single.html" class="img">
                  <img src="/images/img_8.jpg" alt="Image" class="img-fluid" />
                </a>

                <div class="property-content">
                  <div class="price mb-2"><span>$1,291,000</span></div>
                  <div>
                      <span class="d-block mb-2 text-black-50"
                      >5232 California Fake, Ave. 21BC</span
                      >
                    <span class="city d-block mb-3">California, USA</span>

                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                      <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                    </div>

                    <a
                            href="property-single.html"
                            class="btn btn-primary py-2 px-3"
                    >See details</a
                    >
                  </div>
                </div>
              </div>
              <!-- .item -->

              <div class="property-item">
                <a href="property-single.html" class="img">
                  <img src="/images/img_1.jpg" alt="Image" class="img-fluid" />
                </a>

                <div class="property-content">
                  <div class="price mb-2"><span>$1,291,000</span></div>
                  <div>
                      <span class="d-block mb-2 text-black-50"
                      >5232 California Fake, Ave. 21BC</span
                      >
                    <span class="city d-block mb-3">California, USA</span>

                    <div class="specs d-flex mb-4">
                        <span class="d-block d-flex align-items-center me-3">
                          <span class="icon-bed me-2"></span>
                          <span class="caption">2 beds</span>
                        </span>
                      <span class="d-block d-flex align-items-center">
                          <span class="icon-bath me-2"></span>
                          <span class="caption">2 baths</span>
                        </span>
                    </div>

                    <a
                            href="property-single.html"
                            class="btn btn-primary py-2 px-3"
                    >See details</a
                    >
                  </div>
                </div>
              </div>
              <!-- .item -->
            </div>

            <div
                    id="property-nav"
                    class="controls"
                    tabindex="0"
                    aria-label="Carousel Navigation"
            >
                <span
                        class="prev"
                        data-controls="prev"
                        aria-controls="property"
                        tabindex="-1"
                >Prev</span
                >
              <span
                      class="next"
                      data-controls="next"
                      aria-controls="property"
                      tabindex="-1"
              >Next</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script layout:fragment="script" th:inline="javascript">
</script>

